/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2019, 12:59:37 AM
    Author     : RASHI
*/
@import 
url(https://fonts.googleapis.com/css?family=Arvo:700);
@import
url(https://fonts.googleapis.com/css?family=Seaweed+Script);
 #ul1{
                display: block;
                position: fixed;
                height: 30px;
                width: 100%;
            }

            #ul1 li{
                     background-color:black;
                    width:100px;
                    height:40px;
                    margin: 1px;
                    padding-left:10px;
                    box-shadow: 1px 2px 1px 1px white; 
                    font-size: 25px;

            }

            #ul2{
                height: 700px;
                width: 300px;
                list-style-type:none;
                list-style-position: inside;
                position:fixed;
                padding: 0%;
                top:96px;
            }

            #ul2 li{
                    background-color:#2D2C2C;
                    width:200px;
                    height:100px;
                    margin: 1px;
                    padding-left:10px; 
                    font-size: 25px;
                 }

            a:link{
    
                text-decoration: none;
                color:white;
                display: block;
            }   

            section{
                    
                    height: 100vh;
                    border-style: solid;
                    border-color:beige;
                    border-width: 1px;
                    
            }

            #sec1{
                background-image: url(image/Star.jpeg);
                    background-attachment: fixed;
                    background-size:cover ;
            }

            #sec2{
                background-image: url(image/Bulb2.jpeg);
                    background-attachment: fixed;
                    background-size:cover ;
            }

            #sec3{
                background-image: url(image/Found.jpeg);
                    background-attachment: fixed;
                    background-size:cover ;
            }

             #sec4{
                   background-image: url(image/Cross.jpeg);
                    background-attachment: fixed;
                    background-size:cover;
             }
             
             #sec5{
                   background-image: url(image/bus2.jpg);
                    background-attachment: fixed;
                    background-size:cover;
             }
              #sec6{
                   background-image: url(image/quizcover.jpg);
                    background-attachment: fixed;
                    background-size:cover;
             }
            img{
                height: 70px;
                width: 70px;
                border-radius: 80%;
            }

            #main-div{
            height: 100vh;
            width: 800px;
            background-color: rgba(255,255,255,0.3);
            margin-left: 300px;
            
        }
           .button {
                width:200px;
                padding: 20px 25px;
                font-size: 24px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #4DAF50;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
                margin-top: 100px;
                margin-left:200px;
                }

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e2e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

        .btn btn-info{
            outline: none;
            color: red;
            border-color: red;
            height: 50px;
            width: 80px;
            border-radius: 10px;
            display:block;
            padding-right:200px;
            //float:right;
            position: relative;
            right:30px;
            margin-top: 200px;
            margin-right:200px;
        }
        .button.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.button.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
       
        
        .form-control{
	//margin-top: 10px;
	outline:black;
        //size:1;
	background:transparent;
	color: #fff;
	//border-radius: 10px;
}

